<h3>Visualisation des détails de <b>{{user?.username}}</b></h3>
<div style="margin-bottom: 100px;">
    <div>
        <label><b>Prénom : </b></label> {{user?.firstName}}
    </div>
    <div>
        <label><b>Nom : </b></label> {{user?.lastName}}
    </div>
    <div>
        <label><b>Numéro de Licence : </b></label> {{user?.pilotLicenceNumber}}
    </div>
    <div>
        <label><b>Compagnie : </b></label> {{user?.companyName}}
    </div>
    <div>
        <label><b>Base d'Affectation : </b></label> {{user?.homeBase}}
    </div>
    <div>
        <label><b>Email : </b></label> {{user?.email}}
    </div>
    <div>
        <label><b>adresse : </b></label> {{user?.address}}
    </div>
    <div>
        <label><b>Ville : </b></label> {{user?.city}}
    </div>
    <div>
        <label><b>Code Postal : </b></label> {{user?.zip}}
    </div> 
    <div>
        <label><b>Pays : </b></label> {{user?.country}}
    </div>
    <div>
        <label><b>Roles attribués : </b></label> {{user?.roles}}
    </div>
    <div>
        <label><b>Qualifications de Types en cours : </b></label> {{user?.aircraftTypes}}
    </div>
    <div>
        <label><b>Vols confirmés sur la plateforme : </b></label> {{user?.flightRecords}}
    </div>
    
</div>