/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer{
    position:fixed;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
    color: white;
}

.table-fixed>thead>tr>th{
    border: 0 !important;
}

.table-fixed>thead>tr>td>tfoot:last-child{
    border-right: 0;
}

.table-fixed tbody{
    display: block;
    height: 265px;
    overflow-y: auto;
}

.table-fixed tr{
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th>tfoot{
    float:unset; 
    font-size: 14px;
    padding-left: 20px !important;
}

.table-fixed .col{
    width: 18%;
}

th{
    width: 18%;
}

td{
    width: 18%;
}

th{
    width: 18%; 
}

