<div class="container px-4" style="margin-top: 50px;">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <h3>Confirmez vos vols, comparez vos perfs, débreifez !</h3>
            </div>
        </div>
    </div>
</div>
<div class="container px-4" style="margin-top: 50px;">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <h1>Les 10 dernières stat' confirmées !</h1>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <h1>Les 10 derniers vols à confirmer !</h1>
            </div>
        </div>
    </div>
</div>
<div class="container px-4" style="margin-top: 50px;">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <h2>Obtenez un classement :</h2>
            </div>
        </div>
    </div>
</div>