<div class="col-md-6 offset-md-3" style="margin-bottom: 100px;">
    <h3 style="text-align: center;margin-top: 50px;">Créez votre profil</h3>
    <form class="row g-3" (ngSubmit)='onSubmit()'>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Nom</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" placeholder="Mitchel">
        </div>
        <div class="col-md-6">
            <label for="firstName" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" placeholder="Pete">
        </div>
        <div class="col-md-6">
            <label for="username" class="form-label">Indicatif/Username</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" placeholder="MAVERICK">
        </div>
        <div class="col-md-6">
            <label for="pilotLicenceNumber" class="form-label">Numéro de licence</label>
            <input type="text" class="form-control" id="pilotLicenceNumber" [(ngModel)]="user.pilotLicenceNumber" name="pilotLicenceNumber" placeholder="FRA.FCL. ...">
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="pete.mitchel@topgun.com">
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Mot de Passe</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="check your 6">
        </div>
        <div class="col-12">
          <label for="address" class="form-label">Adresse</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="city" class="form-label">Ville</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="user.city" name="city">
        </div>
        <div class="col-md-4">
          <label for="country" class="form-label">Pays</label>
          <select id="country" class="form-select" [(ngModel)]="user.country" name="country">
            <option selected>Choose...</option>
            <option>France</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="zip" class="form-label">Code Postal</label>
          <input type="text" class="form-control" id="zip" [(ngModel)]="user.zip" name="zip">
        </div>
        <div class="col-12" style="text-align: center;">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>